<div class="card container form-container">
  <div class="row">
    <div class="col-md-6">
      <h1>Create a proposal</h1>

      <div>
        <form #proposalForm="ngForm">
          <div class="form-group">
            <label for="customer">Customer Name</label>
            <input type="text"
                    class="form-control"
                    id="customer"
                    placeholder="Just a company"
                    required
                    name="customer"
                    #customer="ngModel"
                    [(ngModel)]="proposal.customer"
            >
            <div [hidden]="customer.valid || customer.pristine" class="mt-2 alert alert-danger">
                <strong>Required!</strong> Please fill in the box above.
            </div>
          </div>

          <div class="form-group">
            <label for="portfolio_url">Portfolio URL</label>
            <input type="text"
                    class="form-control"
                    id="portfolio_url"
                    placeholder="Just a company"
                    required
                    name="portfolio_url"
                    #portfolio_url="ngModel"
                    [(ngModel)]="proposal.portfolio_url"
            >
            <div [hidden]="portfolio_url.valid || portfolio_url.pristine" class="mt-2 alert alert-danger">
                <strong>Required!</strong> Please fill in the box above.
            </div>
          </div>

          <div class="form-group">
            <label for="tools">Tools</label>
            <input type="text"
                    class="form-control"
                    id="tools"
                    placeholder="Ruby on Rails, PostgreSQL, etc..."
                    required
                    name="tools"
                    #tools="ngModel"
                    [(ngModel)]="proposal.tools"
            >
            <div [hidden]="tools.valid || tools.pristine" class="mt-2 alert alert-danger">
                <strong>Required!</strong> Please fill in the box above.
            </div>
          </div>

          <div class="form-group">
            <label for="estimated_hours">Estimated Hours</label>
            <input type="number"
                    class="form-control"
                    id="estimated_hours"
                    placeholder="190"
                    required
                    name="estimated_hours"
                    #estimated_hours="ngModel"
                    [(ngModel)]="proposal.estimated_hours"
            >
            <div [hidden]="estimated_hours.valid || estimated_hours.pristine" class="mt-2 alert alert-danger">
              <strong>Required!</strong> Please fill in the box above.
            </div>
          </div>

          <div class="form-group">
            <label for="hourly_rate">Hourly Rate</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="number"
                      class="form-control"
                      id="hourly_rate"
                      placeholder="120.00"
                      required
                      name="hourly_rate"
                      #hourly_rate="ngModel"
                      [(ngModel)]="proposal.hourly_rate"
              >
            </div>
            <div [hidden]="hourly_rate.valid || hourly_rate.pristine" class="mt-2 alert alert-danger">
              <strong>Required!</strong> Please fill in the box above.
            </div>
          </div>

          <div class="form-group">
            <label for="weeks_to_complete">Weeks to Complete</label>
            <input type="number"
                    class="form-control"
                    id="weeks_to_complete"
                    placeholder="9"
                    required
                    name="weeks_to_complete"
                    #weeks_to_complete="ngModel"
                    [(ngModel)]="proposal.weeks_to_complete"
            >
            <div [hidden]="weeks_to_complete.valid || weeks_to_complete.pristine" class="mt-2 alert alert-danger">
              <strong>Required!</strong> Please fill in the box above.
            </div>
          </div>

          <div class="form-group">
            <label for="client_email">Client e-mail <em>(Optional)</em></label>
            <input type="email"
                    class="form-control"
                    id="client_email"
                    placeholder="example@domain.com"
                    required
                    name="client_email"
                    #client_email="ngModel"
                    [(ngModel)]="proposal.client_email"
            >
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-6">
      <div>
        <p>Hi {{ proposal.customer }},</p>

        <p>It was a pleasure getting to meet you and review your project requirements, I believe it is a great fit for the types of applications that I build out. Please feel free to check out of my past projects <a href="{{ proposal.portfolio_url }}">here</a>.</p>

        <p>To successfully build out the application I will be utilizing {{ proposal.tools }}, and a number of other tools to ensure that the project follows industry wide best practices.</p>

        <p>Ensuring that you are fully informed is one of my top priorities, so in addition to incorporating everything that we discussed, I will also be creating a project management dashboard and sending you a project update message daily so that you can have a transparent view of the development as it takes places.</p>

        <p>To accomplish the project and meet the requirements that we discussed, I am estimating that it will take {{ proposal.estimated_hours }} in development time to complete. The projects should take {{ proposal.weeks_to_complete }} to complete and with my hourly rate of {{ proposal.hourly_rate }}/hour, the estimated total will be {{ proposal.hourly_rate * proposal.estimated_hours }}.</p>

        <p>The next step from here is to set up a meeting to finalize the project and sign contracts.</p>

        <p>I am excited to work with you and build out this project.</p>
      </div>
    </div>
  </div>
</div>
